@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'digital-clock-font';
    src: url('/public/fonts/ds_digital/DS-DIGI.TTF');
}

.cronometro{
    font-family: 'digital-clock-font';
}